@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fafafa;
    background: #f0f0f0;
    transition: 0.5s;
}

.darkMode {
    background: #222;
}

.box {
    position: relative;
    padding: 30px;
    width: 300px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}

.darkMode .box {
    background: #292929;
}